{% extends 'base.html' %}

{% block content %}
<div class="container bg-faded py-3">
         <h2 class="text-center">{% block title %} About Minilink {% endblock %}</h2>
         <p class="text-center">  
            Minilink is a wonderful tool to short long url into tiny url.</br>
            just enter the link you want to short and Minilink will give you </br>
            short, tini and small link - just Minilink! </br>
            easy to send, share and remember.</br>
            </br>
            Minilink used python & mongodb</br>
            developed by Moriya Tverya</br>
        </p>
</div>
{% endblock %}