{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} MiniLinks {% endblock %}</h2>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Short url</th>
            <th scope="col">Original url</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td><a href="{{url['short_url']}}">{{ url['short_url'] }}</a></td>
                    <td><a href="{{url['long_url']}}">{{ url['long_url'] }}</a></td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}